<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#1a1a1a">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#fff">

    <style>{{{ inlineCss }}}</style>
    <link rel="stylesheet" type="text/css" href="{{ cssBundle }}">
  </head>
  <body>
    <div id="app">{{{ body }}}</div>

    <!-- Preloader -->
    {{#if showPreloader}}
      <div id="loader">
        <div class="timer">
          <div class="circles">
            <svg height="554" width="554" xmlns="http://www.w3.org/2000/svg">
              <path d="M 276.9436843591783 0.5000057349935787 A 276.5 276.5 0 1 1 276.6159470471232 0.5002667210519576 Z" fill="transparent" stroke-width="1" stroke="#052439"></path>
              <path d="M 276.9436843591783 0.5000057349935787 A 276.5 276.5 0 1 1 19.978076281941185 378.941064975153" fill="transparent" stroke-width="1" stroke="#4c6558"></path>
            </svg>
          </div>
        </div>
        <div class="square"></div>
        <div class="diamond">
          <svg height="700" viewBox="0 0 700 700" width="700" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
              d="M21.003 350L350 21.003 678.997 350 350 678.997 21.003 350zM271.994 492.012V207.988h156.012V492.01H271.994zM428.006 492.012l54.326 54.326M271.994 492.012l-54.743 54.743M428.006 207.988l54.366-54.366M271.994 207.988l-54.866-54.866M21.003 350h250.664M428.333 350h250.664"
              fill-rule="evenodd" fill="none" stroke-miterlimit="10" stroke="#141111"></path>
          </svg>
        </div>
        <p class="title"><span>F</span><span>O</span><span>U</span></p>
      </div>
    {{/if}}

    <script>{{{ script }}}</script>
    <script src="{{ jsBundle }}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65309304-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
